img {
    width: 320px;
    height: 420px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: 55%;
}

.button {

    width: 230px;
    font-size: 50px;
    margin: 10px;
    color: rgb(100, 63, 48);


}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.buttonInput {

    max-width: max-content;
    font-size: 25px;
    color: rgb(100, 63, 48);
    padding: 8px;
    margin: 10px;

}

.textInput {
    height: 50px;
    width: 350px;
    margin: 20px;
}

.buttonMode {
    width: 250px;
    font-size: 40px;
    margin: 10px;
    color: rgb(100, 63, 48);
}



.center_div {
    margin-left: auto;
    margin-right: auto;

}

.rigt_div {
    width: 250px;
    color: wheat;
    text-shadow: 10px;

}

body {
    background-image: url('https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/146636989/original/d25c2821431c7e31c69b54fb1a1420dc99fe05e0/make-backgrounds-for-games-c843.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

fieldset {

    background-color: rgb(175, 100, 39);
    font-size: 30px;
    text-align: center;
}

span {
    color: rgba(225, 225, 225, 0);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    animation: loading 3s infinite linear;
    animation-delay: calc(0.9s*var(--l));

}

@keyframes loading {

    0%,
    100% {
        color: rgba(120, 116, 177, 0);
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    }

    50% {
        color: rgba(27, 3, 19, 0.9);
        text-shadow: 0 0 15px rgba(104, 37, 11, 0.8);
    }
}

.image {

    animation: jump 1s 1s infinite;
}

.images {

    animation: cry 1s 1s infinite;
}

.imagess {

    animation: superJump 2s 1s infinite;
}

.imagesss {

    animation: superCry 4s 2s infinite;
}


@keyframes superJump {

    0% {
        transform: translateY(0%);
    }

    50% {

        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }

}

@keyframes jump {

    0% {
        transform: translateY(0%);
    }

    50% {

        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }

}

@keyframes cry {

    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateY(-20%);
    }

    75% {
        transform: translateX(30%);
    }

    100% {
        transform: translateY(0%);
    }

}

@keyframes superCry {

    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateY(-200%);

    }

    75% {
        transform: translateX(0%);
    }

    100% {
        transform: translateY(0%);
    }

}

button:hover {
    color: rgb(212, 19, 19);
    background-color: rgb(214, 155, 65);
}